<div style="text-align: center; background-color: navajowhite">
    <h1>Add dish</h1>
    <form method="post" action="/admin/add-dish">
        <label>Name:<br>
            <input type="text" title="Name:" name="name">
        </label><br>
        <label>Image URL:<br>
            <input type="text" title="Image:" name="img">
        </label><br>
        <label>Description:<br>
            <input type="text" title="Description:" name="description">
        </label><br>
        <label>Price:<br>
            <input type="number" title="Price:" name="price">
        </label><p>
        <button>Add</button>
    </form>
</div>
<hr style="margin-top: 0">