<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Login</title>
    <link th:href="@{/css/styles.css}" rel="stylesheet"/>
    <link rel="shortcut icon" th:href="@{/img/logo.png}" type="image/x-icon">
</head>
<body>
<div th:insert="guest/header-nouser.html" style="padding: 0"></div>
<hr style="margin: 0">
<div style="text-align: center; height: 100px">
    <h3 th:if="${created!=null}" style="color: seagreen">Your account has been created. Now you can enter in.</h3>
    <form th:action="@{/login}" method="post">
        <label>Username:<br>
            <input type="text" name="username" value="" th:value="${username}">
        </label>
        <label><p>Password:<br>
            <input type="password" name="password">
        </label>
        <p>
            <button>Sign in</button>
    </form>
    <div th:if="${param.error}"><h3 style="color:red;" class="error">Wrong username or password</h3></div>
    Not a member? <a href="/create-account" style="color: blue"> Create an account. </a>
</div>
</body>
</html>
